body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.header_banner{
    background-color: #FCEEF1;
    display: flex;
    padding: 30px 30px 0px 150px;
    align-items: center;
    justify-content: space-between;
}
.btn-primary{
    background-color: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding:10px 23px;
    border: 1px;
    border-radius: 5px;
    margin-top: 10px;
}
/* banner section */
.header_banner_image{
    position: bottom right ;
}
.header_banner_image{
    width: 500px;
}
.banner_description_header{
    color: #272727;
    font-size: 70px;
    font-weight: 800;
    margin-bottom: 5px;
}
.banner_description_desc{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}
/* featured flower section */
.featured-flower{
    
}
.featured-flower-top{
    text-align: center;
    margin-top: 100px;
}
.featured-flower-header{
    color: #272727;
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 10px;
}
.featured-flower-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 14px;
    font-weight: 400;
    margin: 0px 500px 0px 500px;
}

.featured-flower-display{
    display: flex;
    gap: 50px;
    align-items: center;
    margin: 40px 350px 0px 150px;
}
.featured-flower-image-pink{
    border-radius: 175px 175px 0px 0px;
    background: #F2DEE7;
    padding: 35px 35px 0px 35px; 
    width: 300px;
    height: 400px; 
}
.featured-flower-image-red{
    border-radius: 175px 175px 0px 0px;
    background: #D9EFF1;
    padding: 35px 35px 0px 35px; 
    width: 300px;
    height: 400px; 
}
.featured-flower-image-yellow{
    border-radius: 175px 175px 0px 0px;
    background: #E3EBDB;
    padding: 35px 35px 0px 35px; 
    width: 300px;
    height: 400px; 
}
.featured-flower-link{
    color: #272727;
    text-align: center;
    font-family: Lato; 
    font-size: 23px;
    font-weight: 400;
    text-decoration-line: underline; 
}
/*
  border-radius: 120px 120px 0px 0px;
  background: #F2DEE7;
  padding: 20px; 
  width: 200px;
  height: 250px; 
  */